@import "../../styles/theme-variables.scss";

.headerTablet {
  padding-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;

  @include themify($themes) {
    background-color: themed("footerBG");
  }
  z-index: 4;
  // box-shadow: 0px 27px 69px -38px rgba(82, 82, 82, 0.57);
}

.headerLogoSectionTablet {
  padding-left: 2rem;
  width: 10rem;
  height: 100%;
}

.headerLogoIconTablet {
  width: 4rem;
  height: 4rem;
}

.headerTabletWrapper {
  width: 90%;
  padding-top: 1rem;
  padding-bottom: 5rem;
  z-index: 4;
  display: flex;

  @include themify($themes) {
    background: themed("headerBackground");
    color: themed("textColor");
  }

  .headerTabletContent {
    width: 65%;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;

    .headerTabletTitle {
      width: 90%;
      display: flex;
    }
    .headerAddress {
      width: 70%;
      text-align: center;
      font-size: 1.25rem;
    }
  }
}

.headerTabletRight {
  text-align: right;
  display: flex;
  align-items: center;
}

.addressText,
.headerTabletRight {
  font-size: 18px;
}

.siteTitleTablet {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90%;

  h1 {
    @include themify($themes) {
      color: themed("textColor");
    }
  }
}

.headerLogoIconTablet {
  width: 6rem;
  height: 6rem;
}

@media screen and (max-width: 750px) {
  .addressText,
  .headerTabletRight {
    font-size: 16px;
  }

  .titleTitle {
    font-size: 30px;
  }
}

@media screen and (max-width: 610px) {
  .addressText,
  .headerTabletRight {
    font-size: 14px;
  }

  .titleTitle {
    font-size: 24px;
  }
}
