@import "../../../styles/theme-variables.scss";

.aboutUs {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  @include themify($themes) {
    background-color: themed("bodyBackgroundColor");
  }
}

.providerItem {
  display: flex;
  justify-content: center;
}



.headshotImg {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 3rem;
}
