$themes: (
  light: (
    bodyBackgroundColor: #282828,
    footerBackgroundColor: #b4656f,
    footerBG: #fbf2ee,
    midheader: #2baea7,
    alertBanner: #d07b86,
    headerBackground: #fbf2ee,
    midBtn: #d07b86,
    midText: #0e0e0e,
    missionText: #fff,
    textColor: #0e0e0e,
    toggleBackground: #0a0a0a,
    logo: #282828,
    subheader: #27aca585,
    subText: #0b0b0b,
    subHead: #cd7e8774,
    subheaderBtn: #d07b86,
    btnHover: #e78996,
    midHover: #e78996,
    gridBoxes: #c8c7c7c1,
    gridText: #1e6966,
    // gradient: linear-gradient(#fbf2ee 0%, #2baea7 50%, #b4656f 100%),
    gradient: radial-gradient(#2baea7 0%, #296662 37%, #fbf2ee 100%),
  ),
  dark: (
    bodyBackgroundColor: #282828,
    footerBackgroundColor: #b4656f,
    footerBG: #282828,
    headerBackground: #282828,
    midheader: #289191,
    alertBanner: #226b6b,
    midBtn: #925059,
    midText: #fbf2ee,
    missionText: #fff,
    textColor: #fbf2ee,
    toggleBackground: #1a1a1a,
    logo: #fbf2ee,
    subheader: #cd7e8774,
    subText: #0b0b0b,
    subHead: #cd7e8774,
    subheaderBtn: #2d8984,
    btnHover: #1f6f6b,
    midHover: #b46973,
    gridBoxes: #373737bb,
    gridText: #e3909b,
    gradient: radial-gradient(#2baea7 0%, #296662 37%, #282828 100%),
    // gradient: linear-gradient(#282828 0%, #2baea7 50%, #b4656f 100%),
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}
@function themed($key) {
  @return map-get($theme-map, $key);
}
