$themes: (
  light: (
    bodyBackgroundColor: #b4656f,
    midheader: #2baea7,
    headerBackground: #fbf2ee,
    midBtn: #b7727b,
    midText: #0e0e0e,
    textColor: #0e0e0e,
    toggleBackground: #0a0a0a,
    logo: #282828,
    subheader: #37ada893,
    subheaderBtn: #b46576,
    btnHover: #8f4a53,
    midHover: #b46973,
    gridBoxes: rgba(242, 242, 242, 0.655),
    gridText: black,
  ),
  dark: (
    bodyBackgroundColor: #b4656f,
    headerBackground: #282828,
    midheader: #2e8d88,
    midBtn: #925059,
    midText: #fbf2ee,
    textColor: #fbf2ee,
    toggleBackground: #1a1a1a,
    logo: #fbf2ee,
    subheader: #cd7e8774,
    subheaderBtn: #2d8984,
    btnHover: #1f6f6b,
    midHover: #b46973,
    gridBoxes: rgba(70, 70, 70, 0.655),
    gridText: black,
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}
@function themed($key) {
  @return map-get($theme-map, $key);
}
