.component {
  margin: 0 auto;
  max-width: 58rem;
  width: 100%;
  padding: 2rem;
  background-color: #8f4a53;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
