@import "../../styles/theme-variables.scss";

.navbarTablet {
  display: flex;
  flex-direction: column;
  width: 100%;
  left: 0;
  bottom: 0;
  position: fixed;
  z-index: 10;
}

.navbarContentTablet {
  display: block;
  width: 100%;
  background-color: #176f6b;
  padding-top: 0.5rem;
}

.navbarIconLinksTablet {
  display: flex;
  justify-content: space-around;
}

.navbarTabletIconBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  h6 {
    text-align: center;
    color: rgb(211, 211, 211);
  }
}

.navbarTabletIcon {
  height: 2.5rem;
  width: 2.5rem;
  color: rgb(211, 211, 211);
}
