@import "../../../../styles/theme-variables.scss";

.aboutUsTablet {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  @include themify($themes) {
    background-color: themed("bodyBackgroundColor");
  }

  .aboutUsWrapperTablet {
    height: 100%;
  }
}

.providersWrapperTablet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include themify($themes) {
    background: themed("bodyBackgroundColor");
  }
  padding-top: 2rem;
  padding-bottom: 2rem;

  h2 {
    @include themify($themes) {
      color: themed("textColor");
    }
  }
}

.aboutUsHeaderTextTablet {
  padding-bottom: 4rem;
}

#accordionProvidersTablet {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.providersAccordionTextTablet {
  width: 65%;
  @include themify($themes) {
    box-shadow: themed("floatingBgShadow");
  }
}

.providerItemTablet {
  width: 100% !important;
}

// .accordionHeaderTablet {
//   width: 100%;
// }

.providerGroupTablet {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accordionBodyTablet {
  text-align: left;
  @include themify($themes) {
    background-color: themed("headerBackground");
    color: themed("textColor");
  }
}

.cardWrapperTablet {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.accordionBtnTablet {
  padding-top: 2rem;
  padding-bottom: 2rem;
  @include themify($themes) {
    background-color: themed("footerBackgroundColor");
    color: themed("textColor");
  }
  font-weight: 600;
  font-size: 1.4rem;
}

.accordion-button::after {
  color: #b13983;
}

.accordion-button:not(.collapsed) {
  color: #36cac3;
}
.accordionTextTablet {
  font-size: 1.3rem;
}

.headshotImgTablet {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-right: 3rem;
  border-radius: 0 50% 50% 50% !important;
}

.imgWrapperTablet {
  width: 200px;
  height: 200px;
  border-radius: 0 50% 50% 50% !important;
}
