@import "../../../../styles/theme-variables.scss";

.uniFooter {
  position: fixed;
}
// .headerSite {
//   display: block !important;
// }

.LoginTablet {
  max-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include themify($themes) {
    color: themed("textColor");
    background-color: themed("footerBG");
  }
}

.loginHeaderTablet {
  padding: 2rem;
}

.loginBtnTablet {
  border: 0;
  @include themify($themes) {
    background: themed("subheaderBtn");
  }

  .loginButtonTablet {
    text-decoration: none;
    @include themify($themes) {
      color: themed("textColor");
    }
  }
}

.backBtnTablet {
  position: relative;
  top: 0;
  width: 80%;
  display: flex;

  .goBackTablet {
    padding: 0.5rem;
    font-size: 12px;
    @include themify($themes) {
      background: themed("subheaderBtn");
    }
    .goBackTextTablet {
      text-decoration: none;
      @include themify($themes) {
        color: themed("textColor");
      }
    }
  }
}

.loginBtnTablet {
  margin: 1.5rem;
}

.registerRedirectTablet {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
}

.loginFormTablet {
  width: 80%;
  @include themify($themes) {
    background-color: themed("floatingBg");
    box-shadow: themed("floatingBgShadow");
  }
  padding: 1rem;
  margin: 1rem;
  margin-bottom: 2.5rem;
}

.loginFormLineTablet {
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include themify($themes) {
    background-color: themed("floatingBg");
  }
}

.loginLineTablet {
  width: 70%;
  @include themify($themes) {
    background-color: themed("formLine");
    border: themed("formLineBorder");
  }
}

.forgetPassTablet {
  padding-top: 1rem;
}

.nonBtnTablet {
  text-decoration: none;
  color: #2d8984;
}
