@import "../../../../styles/theme-variables.scss";

.homeMobile {
  // position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  @include themify($themes) {
    background: themed("bodyBackgroundColor");
    color: themed("textColor");
  }

  .homeContentMobile {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

.missionTextMobile {
  height: 12.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobileMissionImage {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: url("../../../../assets/images/colorado\ rockies.avif") no-repeat
    top 15% left 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.missionOverlayMobile {
  background-color: rgba(0, 0, 0, 0.41);
  position: relative;
}

.fixedMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  padding-bottom: 2rem;
}

.servicesMobile {
  max-height: 10rem;
  width: 100%;
  font-weight: 500;
  margin: 0rem !important;
  padding: 2rem !important;
  @include themify($themes) {
    background: themed("subHead");
    color: themed("subText");
  }
}

.homeMenuMobile {
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  justify-content: center;
  align-items: center;
}

.cardDivMobile {
  width: 100%;
  margin-bottom: 2rem;
}

.cardMobile {
  display: flex;
  align-items: center;
  @include themify($themes) {
    background-color: themed("gridBoxes");
    box-shadow: themed("floatingBgShadow");
  }
  height: 6rem;
  width: 100%;
  font-size: 28px;
}

.leftSideMobile,
.rightSideMobile {
  width: 100%;
  height: 100%;
}

.menuItemMobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  .gridIconMobile {
    height: 4rem;
    width: 4rem;
    margin-right: 0.5rem;
  }

  .gridTextMobile {
    max-height: 100%;
    width: 80%;
    text-align: center;
    margin: 0;
  }
}

.gridLinkMobile {
  text-decoration: none;
  font-weight: 500;
  width: 100%;

  .cardMobile {
    @include themify($themes) {
      color: themed("gridText");
    }
  }
}
