@import "../../../../styles/theme-variables.scss";

.uniFooter {
  position: fixed;
}
// .headerSite {
//   display: block !important;
// }

.LoginMobile {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  @include themify($themes) {
    color: themed("textColor");
  }
}

.loginHeaderMobile {
  padding: 2rem;
}

.loginBtnMobile {
  border: 0;
  @include themify($themes) {
    background: themed("subheaderBtn");
  }

  .loginButtonMobile {
    text-decoration: none;
    @include themify($themes) {
      color: themed("subText");
    }
  }
}

.backBtnMobile {
  position: relative;
  top: 0;
  display: flex;

  .goBackMobile {
    padding: 0.5rem;
    font-size: 12px;
    @include themify($themes) {
      background: themed("subheaderBtn");
    }
    .goBackTextMobile {
      text-decoration: none;
      @include themify($themes) {
        color: themed("subText");
      }
    }
  }
}

.loginBtnMobile {
  margin: 1.5rem;
}

.registerRedirectMobile {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
}

.loginFormLineMobile {
  padding: 0.8rem;
}

.forgetPassMobile {
  padding-top: 1rem;
}

.nonBtnMobile {
  text-decoration: none;
  color: #2d8984;
}
