@import "../../styles/theme-variables.scss";

.home {
  // position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  @include themify($themes) {
    background: themed("bodyBackgroundColor");
    color: themed("textColor");
  }

  .home-content {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  // @keyframes fadeIn {
  //   0% {
  //     opacity: 0;
  //   }
  //   100% {
  //     opacity: 1;
  //   }
  // }
}

.doctorImage {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 118.75rem;
  height: 75rem;
  background: url("../../assets/images/doctor-patient.avif") no-repeat center
    center;
  // background-repeat: no-repeat;
  // object-fit: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.transition {
  top: 0;
  left: 0;
  max-width: 100%;
  width: 118.75rem;
  height: 75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  @include themify($themes) {
    color: themed("missionText") !important;
  }
}

.animateOverlay {
  height: 100%;
  width: 100%;
}

.missionText {
  top: 0;
  left: 0;
  max-width: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .missionText h1 {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
  }
}

.missionOverlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.41);
  position: relative;
}

.midheader {
  @include themify($themes) {
    background: themed("midheader");
    color: themed("textColor");
  }
  z-index: 1;
  width: 100%;
}

.midBtn:hover {
  @include themify($themes) {
    background-color: themed("midHover");
  }
}

.midBtn {
  @include themify($themes) {
    color: themed("midText");
    background-color: themed("midBtn");
  }
}

.menuItem {
  z-index: 1;
  // a:hover {
  // }
}

.gridIcon {
  height: 6rem;
  width: 6rem;
}

.card {
  justify-content: center;
  @include themify($themes) {
    background-color: themed("gridBoxes");
  }
  height: 15rem;
  width: 15rem;
  font-size: 28px;
  border: 1px solid rgb(90, 90, 90);
}

.leftSide,
.rightSide {
  width: 100%;
  height: 100%;
}

.aniBox {
  justify-content: center;
  display: flex;
}

.fixed {
  display: flex;
  max-width: 100%;
  width: 118.75rem;
  height: 75rem;
  background-image: url("../../assets/images/medical-building.avif");
  background-repeat: no-repeat;
}

.homeMenu {
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding-top: 1rem;
  margin-top: 4rem;
  justify-content: center;
  align-items: center;
}

.gridLink {
  text-decoration: none;
  font-weight: 500;

  .card {
    @include themify($themes) {
      color: themed("gridText");
    }
  }
}

.services {
  width: 50%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  margin: 0rem !important;
  padding: 2rem !important;
  @include themify($themes) {
    background: themed("subHead");
    color: themed("subText");
  }
}


//this
//is
//media
//query
//area

@media screen and (max-width: 900px) {
  .card {
    font-size: 16px;
    width: 10rem;
    height: 10rem;
  }

  .doctorImage {
    background: url("../../assets/images/doctor-patient-ipad.avif") no-repeat
      center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

@media screen and (max-width: 1100px) {
  .card {
    font-size: 16px;
    width: 9rem;
    height: 9rem;
  }

  .gridIcon {
    width: 5rem;
    height: 5rem;
  }
}

@media screen and (max-width: 500px) {
  .card {
    font-size: 10px;
    width: 7rem;
    height: 7rem;
  }

  .gridIcon {
    width: 4rem;
    height: 4rem;
  }
}
