@import url("https://fonts.googleapis.com/css2?family=Georama:wght@300;400;500;600&display=swap");

body {
  margin: 0;
  font-family: "Georama", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  text-align: center;
}

body,
html {
  height: 100%;
  max-width: 100%;
}

* {
  border-radius: 0 !important;
}
