@import "../../styles/theme-variables.scss";

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  left: 0;
  bottom: 0;
}

// pb-5 m-5

.logoInfo {
  display: flex;
  text-align: center;
  @include themify($themes) {
    background-color: themed("footerBackgroundColor");
  }
}

// .logo-section {
// }

.headerTitle {
  text-decoration: none;
  font-weight: bold;
  @include themify($themes) {
    color: themed("textColor");
  }
}

.locationInfo {
  text-align: start;
}

.badgeText {
  height: 6.25rem;
  width: 25rem;
  margin-right: 0.5rem;
}

.badgeNCQA {
  height: 9rem;
  width: 9rem;
  margin-right: 1rem;
  background: url("../../assets/images/ncqa\ badge.svg");
  background-repeat: no-repeat;
}

.copyrightBackground {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.copyrightWrapper {
  background-color: #289191;
  color: black;
  font-weight: 500;
}

.privacyDisclaimer {
  width: 50%;
}

.disclaimerLink {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.footerContentMobile {
  display: none;
}

@media screen and (max-width: 600px) {
  .footerContent {
    display: none;
  }

  .footerContentMobile {
    display: block;
    position: fixed;
    min-width: 100%;
    background-color: #176f6b;
    padding: 0.5rem;
  }

  .footerIconLinks {
    display: flex;
    justify-content: space-around;
  }

  .footerMobileIconBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h5 {
      text-align: center;
      text-decoration: none;
      color: rgb(211, 211, 211);
    }
  }

  .footerMobileIcon {
    height: 3.5rem;
    width: 3.5rem;
    color: rgb(211, 211, 211);
  }
}
