@import "../../styles/theme-variables.scss";

html {
  max-width: 100vw;
}

.footerMobile {
  display: flex;
  flex-direction: column;
  width: 100%;
  left: 0;
  bottom: 0;
}

.footerContentMobile {
  @include themify($themes) {
    background-color: themed("footerBG");
    color: themed("textColor");
  }
}

.logoInfoMobile {
  display: flex;
  text-align: center;
  margin-bottom: 1rem;

  @include themify($themes) {
    background-color: themed("footerBackgroundColor");
  }
}

.logoIconMobile {
  height: 5rem;
  width: 5rem;
}

.logoMarginMobile {
  margin: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.headerTitleMobile {
  text-decoration: none;
  font-weight: bold;
  @include themify($themes) {
    color: themed("textColor");
  }
}

.firstRowMobile {
  padding-bottom: 2rem;
  width: 90%;
}

.locationInfoMobile {
  text-align: start;
  width: 90%;
  margin-left: 0.5rem;
  padding-bottom: 1.5rem;
  font-size: 16px;
}

.headerAddressMobile {
  text-align: start;
}

.badgeTextMobile {
  min-height: 6.25rem;
  width: 25rem;
  font-size: 16px;
  margin-left: 0.5rem;
  text-align: start;
}

.badgeInfoMobile {
  width: 90%;
}

.badgeNCQAMobile {
  min-height: 9rem;
  min-width: 9rem;
  margin-right: 1rem;
  background: url("../../assets/images/ncqa\ badge.svg");
  background-repeat: no-repeat;
}

.copyrightWrapperMobile {
  background-color: #289191;
  color: black;
  font-weight: 400;
  padding-bottom: 5rem;
}

.copyrightBackgroundMobile {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.privacyDisclaimerMobile {
  width: 50%;
}

.disclaimerLinkMobile {
  text-decoration: none;
  cursor: pointer;
  color: black;
  font-size: 12px;
}

.copyrightInfoMobile {
  font-size: 12px;
  max-width: 10rem;
}

//this
//is
//media
//query
//area
