@import "../../styles/theme-variables.scss";

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  left: 0;
  bottom: 0;
}

.logoInfo {
  display: flex;
  text-align: center;
  @include themify($themes) {
    background-color: themed("bodyBackgroundColor");
  }
}

// .logo-section {
// }

.headerTitle {
  text-decoration: none;
  font-weight: bold;
  @include themify($themes) {
    color: themed("textColor");
  }
}

.locationInfo {
  text-align: start;
}

.copyrightBackground {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.copyrightWrapper {
  @include themify($themes) {
    background-color: themed("midHeader");
    color: themed("textColor");
  }
}

.privacyDisclaimer {
  width: 50%;
}

.copyrightInfo {
}
